<template>
    <Page class="page">
        <ActionBar class="action-bar">
            <Label class="action-bar-title" :text="this.tache.titre"></Label>
        </ActionBar>

        <GridLayout columns="max/2, max/2" rows="10, *, 30, 30, 60, 10, 60, 10, 60, 10, 60">
            <TextView :text="this.tache.message" editable="false" class="message" row="1" />
            <Label text="Status : " row="2" class="status" />
            <Label :text="task.status" row="3" class="status" />
            <Button text="Changer le status" @tap="statusChange" row="4" backgroundColor="forestgreen" />
            <template v-if="this.tache.status === 'A faire'">
                <Button text="Modifier" @tap="modifier" row="6" backgroundColor="royalblue" />
                <Button text="Retour" @tap="$navigateBack" row="10" />
            </template>
            <template v-else>
                <Button text="Modifier" @tap="modifier" row="6" backgroundColor="royalblue" />
                <Button text="Supprimer" @tap="supprimer" row="8" backgroundColor="red" />
                <Button text="Retour" @tap="retour" row="10" />
            </template>
        </GridLayout>
    </Page>
</template>

<script>
    import Home from "./Home"

    export default {
        props: [
            'listOfTasks',
            'task'
        ],
        data() {
            return {
                listeDeTaches: [],
                tache: []
            }
        },
        mounted() {
            this.listeDeTaches = this.listOfTasks;
            this.tache = this.task;
        },
        computed: {
            message() {
                return "Vos Post-It";
            },
        },
        methods: {
            statusChange() {
                if(this.tache.status === 'A faire') {
                    this.tache.status = "Fait"
                    this.$navigateTo(Home, { props: { listeDeTaches: this.listeDeTaches }})
                }
                else {
                    this.tache.status = "A faire"
                    this.$navigateTo(Home, { props: { listeDeTaches: this.listeDeTaches }})
                }
            },
            modifier() {
                prompt({
                    title: "Remplissez votre Post It",
                    okButtonText: "Suivant",
                    cancelButtonText: "Annulez",
                    defaultText: this.tache.message
                }).then(result => {
                    if(result.result !== false) {
                        if (result.text === "") {
                            alert("Vous n'avez pas renseigné de message").then(() => {
                                this.modifier()
                            })
                        }
                        else {
                            this.tache.message = result.text;
                            this.tache.resume = this.tache.titre + ' : ' + (this.tache.message.slice(0, 50) + '...');
                            this.$navigateTo(Home, { props: { listeDeTaches: this.listeDeTaches }})
                        }
                    }
                })
            },
            supprimer() {
                this.listeDeTaches.splice(this.listeDeTaches.indexOf(this.tache), 1);
                this.$navigateTo(Home, { props: { listeDeTaches: this.listeDeTaches }})
            },
            retour() {
                this.$navigateTo(Home, { props: { listeDeTaches: this.listeDeTaches }})
            }
        }
    };
</script>

<style scoped lang="scss">
    // Start custom common variables
    @import '../app-variables';
    // End custom common variables

    // Custom styles
    .fa {
        color: $accent-dark;
    }
    .info {
        font-size: 20;
    }

    .message{
        color: black;
        font-size: 22;
    }
    .status {
        font-weight : bold;
    }
</style>
