<template>
    <Page class="page">
        <ActionBar class="action-bar">
            <Label class="action-bar-title" :text="message" />
        </ActionBar>

        <GridLayout rows="10, *, 10, 60">
            <Label text="" row="0" />
            <ScrollView orientation="vertical" row="1">
                <ListView for="task in listOfTasks">
                    <v-template class="task">
                        <Label :text="task.resume" class="message" @tap="onTaskTap(listOfTasks, task)" />
                    </v-template>
                    <v-template if="task.status==='Fait'" class="task" >
                        <Label :text="task.resume" class="messageDone" @tap="onTaskTap(listOfTasks, task)" />
                    </v-template>
                </ListView>
            </ScrollView>
            <Label text="" row="2" />
            <Button :text="button" @tap="newTaskTitle" row="3" />
        </GridLayout>
    </Page>
</template>

<script>
    import DetailPostIt from './DetailPostIt';

    export default {
        props: [
            'listeDeTaches'
        ],
        data() {
            return{
                listOfTasks: [],
                titre: ''
            }
        },
        mounted() {
            if(this.listeDeTaches){
                this.listOfTasks = this.listeDeTaches
            }
        },
        computed: {
            message() {
                return "Vos Post-It";
            },
            button() {
                return 'Ajouter un Post it';
            }
        },
        methods: {
            onTaskTap(listOfTasks, task) {
                this.$navigateTo(DetailPostIt, { props: { listOfTasks: listOfTasks, task: task }})
            },
            newTaskTitle() {
                if(this.titre === '') {
                    prompt({
                        title: "Nommez votre Post It",
                        okButtonText: "Suivant",
                        cancelButtonText: "Annulez"
                    }).then(result => {
                        if(result.result !== false) {
                            if (result.text === "") {
                                alert("Vous n'avez pas renseigné de titre").then(() => {
                                    this.newTaskTitle()
                                })
                            }
                            else {
                                this.titre = result.text;
                                this.newTaskBody()
                            }
                        }
                        else {
                            this.titre = '';
                        }
                    })
                }
            },
            newTaskBody() {
                prompt({
                    title: "Remplissez votre Post It",
                    okButtonText: "Suivant",
                    cancelButtonText: "Annulez"
                }).then(result => {
                    if(result.result !== false) {
                        if (result.text === "") {
                            alert("Vous n'avez pas renseigné de message").then(() => {
                                this.newTaskBody()
                            })
                        }
                        else {
                            let task = [];
                            task.titre = this.titre;
                            task.message = result.text;
                            task.status = 'A faire';
                            let resuming = task.message.slice(0, 50) + '...';
                            task.resume = this.titre + " : " + resuming;
                            this.listOfTasks.unshift(task);
                            this.titre = '';
                        }
                    }
                    else {
                        this.titre = '';
                    }
                })
            }
        }
    };
</script>

<style scoped lang="scss">
    // Start custom common variables
    @import '../app-variables';
    // End custom common variables

    // Custom styles
    .fa {
        color: $accent-dark;
    }
    .info {
        font-size: 20;
    }

    .message{
        font-size: 20;
        color: black;
        padding-bottom: 10px;
    }
    .messageDone{
        font-size: 20;
        color: black;
        padding-bottom: 10px;
        background-color: #f45642
    }
</style>
